:root{
    --color_primario:rgb(218, 215, 244);
    --color_menu:rgb(100, 84, 242);
    --color_cabecera_1:rgb(17, 177, 236);
    --color_cabecera_2:rgb(6, 186, 78);
    --color_cabecera_3:rgb(155, 174, 13);
    --color_wite:rgb(255, 255, 255);
}

body{
    position: relative;
    background-color:var(--color_primario);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 0.5rem;
}

#menu{
    width: 100%;
    height: 100%;
    background-color: var(--color_wite);
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#menu_lista{
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.iten_menu_group{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.iten_menu_group span{
    text-align: center;
}

#contenedor_formulario{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}


#contenedor_formulario_img_content img{
    width: 50%;
}

#contenedor_formulario_img_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_wite);
}

.formulario{
    background-color: var(--color_wite);
    text-align: center;
}

#contenedor_tabla{
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    background-color: aqua;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--color_wite);
}

.iten_menu_group2{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    justify-content: center;
    align-items: center;
}

#principal_content{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.icono{
    width: 2.5rem;
}

.tabla_datos{
    text-transform: uppercase;
}

#control_paginacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bt_paginacion{
    background-color: var(--color_cabecera_1);
    cursor: pointer;
}

.bt_paginacion:hover{
    background-color: var(--color_cabecera_2);
}


.form_content{
    text-align: center;
    font-weight: 0;
    text-transform: uppercase;
}

.grid_comulns_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:1020px) {
    main{
        display: flex;
        flex-direction: column;
    }    

    #menu{
        display: none;
    }

    #contenedor_formulario_img_content img{
        width: 25%;
    }


    #contenedor_formulario{
        display: flex;
        flex-direction: column;
    }

    #principal_content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #contenedor_tabla{
        display: flex;
        flex-direction: column;
        width: 100%;
    }  

    .table{
        display: flex;
        flex-direction: column;
    }

    #eliminar{
        display: none;
    }
 }